@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
    max-width: 100%;
    margin: auto;
    --slide-height: 400px;
    --slide-width: 700px;
    --slide-spacing: 40px;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-width); 
    width: var(--slide-width);  
    height: var(--slide-height);  
    padding-left: var(--slide-spacing);
    margin-right: var(--slide-spacing); 
  }
  .embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 13px;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%;  
    border: 1px solid gray;
    background: #efeeee;
  }
  .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.2rem;
    margin-top: 1.8rem;
    display: flex;
    justify-content: center;
  }
  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }

  .circle-page {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
  }

  .circle_small{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 8px;
  }

  .font-cursive {
    font-family: 'Calibri', cursive;
    color: #4b4a4a;
  }

  .circle {
    width: 240px;
    height: 240px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    cursor: pointer;
}


.circle-portfolio {
  width: 240px;
  height: 240px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
}

@media (max-width: 768px) {
    .circle {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 480px) {
    .circle {
        width: 120px;
        height: 120px;
    }
}

.pt-full {
  padding-top: 80%;
}

/* .rectangle {
  width: 35vh;
  height: 30%; 
  background-color: rgb(174, 173, 230);
  border: 2px solid rgb(76, 76, 129); 
  box-sizing: border-box;
  display: flex; 
  justify-content: center; 
  align-items: center; 
} */

.rectangle {
  width: 80%; /* Ширина блока 50% от ширины экрана */
  height: 40vw; /* Высота блока 60% от ширины экрана (используем vw - viewport width units) */
  max-height: 22vw; /* Максимальная высота блока 70% от высоты экрана (используем vh - viewport height units) */
  background-color: white; /* Цвет фона */
  box-sizing: border-box; /* Учитываем границы внутри размеров блока */
  display: flex; /* Используем flexbox для центрирования текста */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center; /* Центрируем текст по вертикали */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень блока */
  margin: 10px;
}

.rectangle-photo {
  width: 80%; /*Ширина блока 50% от ширины экрана*/
  height: 18vw; /* Высота блока 60% от ширины экрана (используем vw - viewport width units) */
  max-height: 72vw; /* Максимальная высота блока 70% от высоты экрана (используем vh - viewport height units) */
  background-color: white; /* Цвет фона */
  display: flex; /* Используем flexbox для центрирования текста */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center; /* Центрируем текст по вертикали */
}

.about-me-frame {
  position: relative; /* Относительное позиционирование для установки z-index */
  width: 75%;
  height: 75%;
  border: 8px solid transparent; /* Прозрачная граница */
  border-image: linear-gradient(to bottom, #b31c1c, #fff); /* Градиентная граница */
  border-image-slice: 1; /* Толщина градиентной границы */
  display: flex;
  justify-content: flex-end; /* Выравнивание контента по правому краю */
  align-items: center; /* Выравнивание контента по центру вертикали */
  z-index: 1; /* Устанавливаем высокий z-index, чтобы блок был поверх остального содержимого */
}

.about-me {
  position: absolute; /* Абсолютное позиционирование для перекрытия */
  top: 50%; /* Позиционируем блок относительно верхнего края .about-me-frame */
  left: 50%; /* Позиционируем блок относительно левого края .about-me-frame */
  transform: translate(-60%, -48%); /* Перемещаем блок левее, чтобы правая часть .about-me-frame выглядывала */
  width: 100%; /* Ширина 100% */
  height: 100%; /* Высота 100% */
  background-color: white;
  display: flex;
  justify-content: center; /* Выравнивание контента по центру горизонтали */
  align-items: center; /* Выравнивание контента по центру вертикали */
  font-size: 50px;
  word-break: break-word;
  z-index: 2; /* Устанавливаем более высокий z-index, чтобы блок был поверх .about-me-frame */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень блока */
}

.triangle{
  width: 0;
  height: 0;
  border-bottom: 25px solid #7F1D1D; /* Цвет треугольника */
  border-right: 25px solid transparent;
  justify-self: end;
  align-self: center;
}

.rectangle-vice-versa {
  width: 40%; /* Ширина блока 50% от ширины экрана */
  height: 40vw; /* Высота блока 60% от ширины экрана (используем vw - viewport width units) */
  max-height: 22vw; /* Максимальная высота блока 70% от высоты экрана (используем vh - viewport height units) */
  background-color: white; /* Цвет фона */
  box-sizing: border-box; /* Учитываем границы внутри размеров блока */
  display: flex; /* Используем flexbox для центрирования текста */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center; /* Центрируем текст по вертикали */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень блока */
  margin: 25px;
}

.rectangle-vice-versa-photo {
  width: 90%; /*Ширина блока 50% от ширины экрана*/
  height: 18vw; /* Высота блока 60% от ширины экрана (используем vw - viewport width units) */
  max-height: 72vw; /* Максимальная высота блока 70% от высоты экрана (используем vh - viewport height units) */
  background-color: white; /* Цвет фона */
  display: flex; /* Используем flexbox для центрирования текста */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center; /* Центрируем текст по вертикали */
}

.about-project-frame {
  position: relative; /* Относительное позиционирование для установки z-index */
  width: 50%;
  height: 90%;
  border: 8px solid transparent; /* Прозрачная граница */
  border-image: linear-gradient(to left, #b31c1c, #fff); /* Градиентная граница */
  border-image-slice: 1; /* Толщина градиентной границы */
  display: flex;
  justify-content: flex-end; /* Выравнивание контента по правому краю */
  align-items: center; /* Выравнивание контента по центру вертикали */
  z-index: 1; /* Устанавливаем высокий z-index, чтобы блок был поверх остального содержимого */
}

.about-project {
  position: absolute; /* Абсолютное позиционирование для перекрытия */
  top: 50%; /* Позиционируем блок относительно верхнего края .about-me-frame */
  left: 50%; /* Позиционируем блок относительно левого края .about-me-frame */
  transform: translate(-55%, -43%); /* Перемещаем блок левее, чтобы правая часть .about-me-frame выглядывала */
  width: 100%; /* Ширина 100% */
  height: 100%; /* Высота 100% */
  background-color: white;
  display: flex;
  justify-content: center; /* Выравнивание контента по центру горизонтали */
  align-items: center; /* Выравнивание контента по центру вертикали */
  font-size: 50px;
  word-break: break-word;
  z-index: 2; /* Устанавливаем более высокий z-index, чтобы блок был поверх .about-me-frame */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень блока */
}

.custom-text-outline {
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white; /* Для поддержки различных браузеров */
}
